<div class="container">
  <form class="login-form">
    <h1 class="h3 mb-3 font-weight-normal text-center">Signup to angular-social</h1>
    <div class="social-login">
      <button class="btn btn-dark btn-lg btn-block social-btn btn-github" type="button">
        <span><fa-icon [icon]="faGithub"></fa-icon>Sign up with github</span>
      </button>
    </div>

    <div class="or-separator text-center">
      <span class="or-text">OR</span>
    </div>

    <div class="form-group">
      <input type="name" id="inputName" class="form-control form-control-lg" placeholder="name" required=""
             autofocus="">
    </div>

    <div class="form-group">
      <input type="email" id="inputEmail" class="form-control form-control-lg" placeholder="email address" required=""
             autofocus="">
    </div>

    <div class="form-group">
      <input type="password" id="inputPassword" class="form-control form-control-lg" placeholder="password"
             required="">
    </div>

    <button class="btn btn-primary btn-lg btn-block" type="submit">
      <fa-icon [icon]="faSignInAlt"></fa-icon>
      Sign up
    </button>
  </form>
</div>
