<div class="container">
  <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <h1 class="h3 mb-3 font-weight-normal text-center">Log in to angular-social</h1>
    <div class="social-login">
      <a class="btn btn-dark btn-lg btn-block social-btn btn-github"
         role="button" aria-disabled="true"
         [attr.href]="GITHUB_AUTH_URL">
        <span><fa-icon [icon]="faGithub"></fa-icon>Log in with github</span>
      </a>
    </div>

    <div class="or-separator text-center">
      <span class="or-text">OR</span>
    </div>

    <div class="form-group">
      <input type="email" id="inputEmail" class="form-control form-control-lg"
             placeholder="email address" required="" autofocus="" formControlName="email"
             [class.is-invalid]="email.invalid && email.touched">

      <div *ngIf="(email.invalid && email.touched) || email.dirty">
        <small *ngIf="email.errors?.required" class="text-danger">E-mail is required</small>
        <!--question mark(?) is a safe navigation operator-->
        <small *ngIf="email.errors?.email" class="text-danger">Please provide a valid email address</small>
      </div>
    </div>

    <div class="form-group">
      <input type="password" id="inputPassword" class="form-control form-control-lg"
             placeholder="password" required="" formControlName="password"
             [class.is-invalid]="password.invalid && password.touched">

      <div *ngIf="(password.invalid && password.touched) || password.dirty">
        <small *ngIf="password.errors?.required" class="text-danger">Password is required</small>
        <small *ngIf="password.errors?.minlength" class="text-danger">Please provide min password length:
          {{password.errors.minlength.requiredLength}}</small>
      </div>
    </div>

    <button class="btn btn-success btn-lg btn-block" type="submit"
            [disabled]="!loginForm.valid">
      <fa-icon [icon]="faSignInAlt"></fa-icon>
      Login
    </button>
  </form>
</div>
